.assortment {
  width: 100%;
  height: calc(100vh - 190px);
  padding-top: 130px;
  padding-inline: 113px;
  padding-bottom: 78px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: rgb(205, 188, 139);
  background: linear-gradient(
    90deg,
    rgba(205, 188, 139, 1) 0%,
    rgba(200, 168, 0, 0.469625350140056) 47%,
    rgba(248, 229, 65, 1) 100%
  );
}
.products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1460px;
}

.action-panel {
  width: 112px;
  height: 698px;
  background-color: #fff;
}

/* 112 698 */
